body{
    margin: 0;
}
.clearfix{
    clear: both;
}
.wrapper{
    margin: 0 auto;
    width: 1024px;
}

.yellow{
    background-color: #FFEB38;;
}
.orange{
    background-color: #FFD59E;
}
/* Header */

.header{
    margin: 0;
    height: 147px;
    background-color: #FFD59E;
}
.header_left{
    width: 30%;
    height: 147px;
    float: left;
}
.header_left > h1{
    font-family: Francois One;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    font-weight: bolder;
    color: #FF6738;
    margin: 30px 0 0 25px;
    text-transform: uppercase;
}
.header_right{
    width: 66%;
    height: 147px;
    float: right;
    position: relative;
}
.header_right > h2{
    font-family: Francois One;
    font-style: normal;
    font-weight: 400px;
    font-size: 34px;
    color: #FF6738;
    position: absolute;
    left: 0;
    top: 10px;

}
.header_right > .underline{
    background-color: #FF6738;
    bottom: 45px;
    width: 676px;
    height: 9px;
    right: 0;
    position: absolute;
}

/* Menu navigation*/
nav{
    height: 46px;
    background: #FF6738;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
ul > li{
    float: left;
}
ul > li > a{
    display: block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 25px 13px 25px;
}
ul > li > a:hover{
    background-color: crimson;
}
.slide_header{
    width: 1024px;
    height: 300px;
    margin: 0; 
}
/*
* Premier article
*/
.article_1_img{
    height: 297px;
    width: 327px;
    background-color: cornflowerblue;
    float: left;
    margin: 40px 0 0 0;
}

.article_1_contain{
    width: 676px;
    height: 297px;
    float: right;
    margin: 40px 0 0 0;
    position: relative;
}
.article_1_contain > h2{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #FFA938;
    top: -39px;
}
.article_1_contain > p{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    color: #000000;
    top: 30px;
    width: 644px;
}
.article_1_contain > div{
    position: absolute;
    width: 676px;
    height: 9px;
    background: #FF6738;
    bottom: 0;
}
/*
* deuxième article avec photo en background
*/
.article_2_img{
    margin: 40px 0 0 0;
    height: 364px;
    width: 100%;
    background-color: cornflowerblue;
    background: url(../images/IMG3.jpg);
    position: relative;
}
.article_2_img > p{
    position: absolute;
    bottom: 2px;
    right: 5%;
    color: #FF6738;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
}
.article_2_contain{
    height: 427px;
    background-color: #FFD59E;
}
.article_2_text_left{
    float: left;
    margin: 20px 1% 0 4%;
    width: 45%;
}
.article_2_text_right{
    float: left;
    margin: 20px 4% 0 1%;
    width: 45%;
}

.article_2_text_left, .article_2_text_right > p{
    font-size: 14px;
    line-height: 23px;
    line-height: 162.4%;
    font-style: normal;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: #000000;
}


/* Les 3 sections identiques*/

.col{
    width:100%;
    position: relative;

}
.col > div {
    float: left;
    
}

.halves > div{
    width:49%;
    
}
.halves > div > img{
    width: 502px;
    height: 292px;
    
}
.halves > div > h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    color: #FF6738;
    margin: 0;
    top: 30px;
    position: absolute;
}
.halves > div > p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    color: #000000;
    margin: 0;
    top: 100px;
    position: absolute;
    width: 502px;
}
.left{
    margin: 40px 1% 0 0;
}
.right{
    margin: 40px 0 0 1%;
}
.left_reverse{
    margin: 40px 1% 0 0;
}
.right_reverse{
    margin: 40px 0 0 1%;
}

/* Tableau */
.table{
    width: 100%;
    margin: 30px 0 0 0;
    height: 980px;
    position: relative;
}
table{
    margin: 30px 0 0 0;
    width: 100%;
    text-align: left;
  
    border:1px solid #fff59e;
    border-collapse: collapse;
    border-spacing: 1px;
    position: absolute;
    background-color: #fff59e;
}
th, td{
    vertical-align: top;
    border:1px solid #fff59e;
    border-bottom: 1px solid lightgrey;
    border-style: solid;
    padding: 10px;
}
.td_avantages{    
    width: 50%; 
}
tr:hover{
    background-color: #fff59e;
}
 

/* Formulaire */
form{
    margin: 30px 0;
    height: 710px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500px;
    font-size: 24px;
    line-height: 29px;
}
input, textarea{
    text-transform: uppercase;
    color: #B7B7B7;
    background: #FFD59E;
    border-radius: 5px;
    border: 1px solid #FFD59E;
    padding: 0 0 0 20px;
}
input{
    height: 66px;
    float: left;
}
.input_half{
    margin: 2% 0 0 2%;
    width: 45%;
}
.input_one{
    width: 656px;
    margin: 2% 0 0 2%;
}

textarea{
    padding: 20px 0 0 20px;
    margin: 2% 0 0 2%;
    height: 285px;
    width: 975px;
    resize: none;
    position: absolute;
    top: 287px;
    left: 20px;
}
::placeholder{
    color: #B7B7B7;
}

input[type="submit"] {
    border: none;
    height: 86px;
    width: 310px;
    background: #FF6738;
    padding: 12px 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 24px;
    vertical-align: middle;
    position: absolute;
    top: 620px;
    right: 87px;
    text-transform: capitalize;
  }

  /* Séparateur de section left*/
.separator_article_left{
    width: 39%;
    height: 54px;
    margin: 40px 1% 0 0;
    float: left;
    position: relative;
}
.separator_article_left > h2{
    font-family: Francois One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-transform: uppercase;
    color: #FF6738;
    margin: 0;
    padding: 0;
    top: -9px;
    right: 0px;
    position: absolute;
}
.separator_article_right{
    background-color: #FF6738;
    width: 59%;
    height: 54px;
    margin: 40px 0 0 1%;
    float: right;
}
/* Séparateur de section right*/
.separator2_article_right{
    width: 39%;
    height: 54px;
    margin: 40px 0 0 1%;
    float: right;
    position: relative;
}
.separator2_article_right > h2{
    font-family: Francois One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-transform: uppercase;
    color: #FF6738;
    margin: 0;
    padding: 0;
    top: -9px;
    position: absolute;
}
.separator2_article_left{
    background-color: #FF6738;
    width: 59%;
    height: 54px;
    margin: 40px 1% 0 0;
    float: left;
}

/*FOOTER*/
.grey{
    background-color: #C4C4C4;
}
.footer{
    background-color: #C4C4C4;
    height:294px;
    bottom:0;
}

.footer_logo{
    width: 435px;
    float: left;
    margin: 37px 0 0 0;
    position: relative;
    background-color:indigo;
}
.footer_logo > h2{
    font-family: Francois One;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    color: #FF6738;
    position: absolute;
    top:-73px;
    left: 100px;

}
.adresse{
    float: left;
    position: relative;
    width: 435px;
    top: 20px;
}
.adresse > p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 0 0 0 103px;
    }
.footer_underline{
    margin: 37px 0 0 0;
    width: 589px;
    background-color: #FF6738;
    height: 54px;
    float: left;
}
